In [15]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

print("connected.")

connected.

In [16]:
# 1

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]

courses_collection.bulk_write(operations)
print('Courses inserted')

Courses inserted

In [8]:
# tampilkan data awal

print("Data sekarang:")
for course in courses_collection.find():
    print(course)

Data sekarang:
{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eec'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [9]:
# insert tambahan

operations = [
    InsertOne({'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 207', 'enrollments': 25, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted')

Courses inserted

In [10]:
# tampilkan data setelah insert tambahan

print("Data sekarang:")
for course in courses_collection.find():
    print(course)

Data sekarang:
{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eec'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('690c1ccc54578d67853a7ef1'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [12]:
# update

operations = [
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 28}}),
    UpdateOne({'course': 'Physics 202'}, {'$inc': {'enrollments': 5}})  # tambah 5 mahasiswa
]
courses_collection.bulk_write(operations)
print("\nData berhasil diperbarui.\n")

Data berhasil diperbarui.

In [13]:
print("Data setelah UPDATE:")
for course in courses_collection.find():
    print(course)

Data setelah UPDATE:
{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eec'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('690c1ccc54578d67853a7ef1'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [14]:
# delete

operations = [
    DeleteOne({'course': 'History 201'})
]
courses_collection.bulk_write(operations)
print("\nData berhasil dihapus.\n")

Data berhasil dihapus.

In [20]:
print("Data sekarang:")
for course in courses_collection.find():
    print(course)

Data sekarang:
{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('690c1ccc54578d67853a7ef1'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('690c1f8f54578d67853a7ef2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1f8f54578d67853a7ef3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690c1f8f54578d67853a7ef4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c1f8f54578d67853a7ef5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [22]:
# Hapus duplikat berdasarkan field 'course'
# Ambil semua dokumen dan simpan _id yang duplikat
seen_courses = set()
duplicate_ids = []

for doc in courses_collection.find():
    course_name = doc['course']
    if course_name in seen_courses:
        duplicate_ids.append(doc['_id'])  # simpan _id duplikat
    else:
        seen_courses.add(course_name)

# Hapus semua dokumen dengan _id duplikat
if duplicate_ids:
    result = courses_collection.delete_many({'_id': {'$in': duplicate_ids}})
    print(f"{result.deleted_count} data duplikat berhasil dihapus.")
else:
    print("Tidak ada data duplikat yang ditemukan.")

ðŸ—‘ï¸ 4 data duplikat berhasil dihapus.

In [23]:
# Exercise 2: Filter courses with enrollments over 20 students.
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}

In [24]:
# Task 2: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}

In [25]:
# Exercise 3: Use aggregation to find the average enrollment per department.
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 32.5}
{'_id': 'Computer Science', 'average_enrollment': 24.0}
{'_id': 'Physics', 'average_enrollment': 20.0}
{'_id': 'History', 'average_enrollment': 22.5}

In [26]:
# task 3: Create an aggregation pipeline that finds the maximum enrollment for each department.
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'Computer Science', 'max_enrollment': 28}
{'_id': 'Physics', 'max_enrollment': 20}
{'_id': 'History', 'max_enrollment': 25}

In [27]:
# Exercise 4: Use $project to rename and only show fields: course_name, department_name, and enrollments.
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'enrollments': 28, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'enrollments': 20, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'enrollments': 35, 'course_name': 'Math 102', 'department_name': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'enrollments': 20, 'course_name': 'CS 105', 'department_name': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'enrollments': 25, 'course_name': 'History 207', 'department_name': 'History'}
{'_id': ObjectId('690c1f8f54578d67853a7ef4'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}

In [28]:
# Task 4: Use $addFields to create a new field enrollment_category where enrollments > 20 are 'high' and others 'low'.
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science', 'enrollment_category': 'low'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('690c1f8f54578d67853a7ef4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}

In [2]:
# homework 1

# tampilkan data-nya dulu
for result in courses_collection.find():
    print(result)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('690c1f8f54578d67853a7ef4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}

In [4]:
# Homework 1: Hitung jumlah mata kuliah per department
pipeline_1 = [
    {"$group": {"_id": "$department", "total_courses": {"$sum": 1}}}
]
for result in courses_collection.aggregate(pipeline_1):
    print(result)

{'_id': 'Computer Science', 'total_courses': 2}
{'_id': 'Mathematics', 'total_courses': 2}
{'_id': 'Physics', 'total_courses': 1}
{'_id': 'History', 'total_courses': 2}

In [5]:
# Homework 2: Filter dan group untuk 'Computer Science' dengan enrollments > 25
pipeline_2 = [
    {"$match": {"department": "Computer Science", "enrollments": {"$gt": 25}}},
    {"$group": {"_id": "$department", "total_high_enroll_courses": {"$sum": 1}}}
]
for result in courses_collection.aggregate(pipeline_2):
    print(result)

{'_id': 'Computer Science', 'total_high_enroll_courses': 1}

In [7]:
# homework 3

# ke koleksi students
students_collection = db['students']
print("connected")

connected

In [9]:
# homework 3

# buat data students
# Tambahkan 30 data student
students_data = [
    {'student_id': 1, 'name': 'Alice', 'enrolled_course': 'Math 101'},
    {'student_id': 2, 'name': 'Bob', 'enrolled_course': 'CS 102'},
    {'student_id': 3, 'name': 'Charlie', 'enrolled_course': 'History 201'},
    {'student_id': 4, 'name': 'Daisy', 'enrolled_course': 'Physics 202'},
    {'student_id': 5, 'name': 'Evan', 'enrolled_course': 'Math 101'},
    {'student_id': 6, 'name': 'Fiona', 'enrolled_course': 'CS 102'},
    {'student_id': 7, 'name': 'George', 'enrolled_course': 'Math 101'},
    {'student_id': 8, 'name': 'Hannah', 'enrolled_course': 'Physics 202'},
    {'student_id': 9, 'name': 'Ivy', 'enrolled_course': 'History 201'},
    {'student_id': 10, 'name': 'Jack', 'enrolled_course': 'Math 101'},
    {'student_id': 11, 'name': 'Kevin', 'enrolled_course': 'CS 102'},
    {'student_id': 12, 'name': 'Liam', 'enrolled_course': 'Physics 202'},
    {'student_id': 13, 'name': 'Maya', 'enrolled_course': 'History 201'},
    {'student_id': 14, 'name': 'Nina', 'enrolled_course': 'Math 101'},
    {'student_id': 15, 'name': 'Oscar', 'enrolled_course': 'Physics 202'},
    {'student_id': 16, 'name': 'Paula', 'enrolled_course': 'Math 101'},
    {'student_id': 17, 'name': 'Quinn', 'enrolled_course': 'CS 102'},
    {'student_id': 18, 'name': 'Riley', 'enrolled_course': 'Math 101'},
    {'student_id': 19, 'name': 'Sam', 'enrolled_course': 'CS 102'},
    {'student_id': 20, 'name': 'Tina', 'enrolled_course': 'Physics 202'},
    {'student_id': 21, 'name': 'Uma', 'enrolled_course': 'History 201'},
    {'student_id': 22, 'name': 'Victor', 'enrolled_course': 'Math 101'},
    {'student_id': 23, 'name': 'Wendy', 'enrolled_course': 'CS 102'},
    {'student_id': 24, 'name': 'Xavier', 'enrolled_course': 'History 201'},
    {'student_id': 25, 'name': 'Yara', 'enrolled_course': 'Physics 202'},
    {'student_id': 26, 'name': 'Zane', 'enrolled_course': 'Math 101'},
    {'student_id': 27, 'name': 'Bella', 'enrolled_course': 'CS 102'},
    {'student_id': 28, 'name': 'Caleb', 'enrolled_course': 'Math 101'},
    {'student_id': 29, 'name': 'Darren', 'enrolled_course': 'Physics 202'},
    {'student_id': 30, 'name': 'Ella', 'enrolled_course': 'CS 102'}
]

students_collection.insert_many(students_data)
print("data mahasiswa berhasil ditambahkan.")

data mahasiswa berhasil ditambahkan.

In [14]:
# homework 3

from pprint import pprint  # biar lebih rapi

pipeline_3 = [
    {
        "$lookup": {
            "from": "students",
            "localField": "course",
            "foreignField": "enrolled_course",
            "as": "student_details"
        }
    },
    {
        "$project": {
            "_id": 0,
            "course": 1,
            "department": 1,
            "enrollments": 1,
            "students_joined": "$student_details.name"
        }
    }
]

print("Data Join Courses dengan Students\n")
for result in courses_collection.aggregate(pipeline_3):
    pprint(result)

Data Join Courses dengan Students

{'course': 'Math 101',
 'department': 'Mathematics',
 'enrollments': 30,
 'students_joined': ['Alice',
                     'Evan',
                     'George',
                     'Jack',
                     'Nina',
                     'Paula',
                     'Riley',
                     'Victor',
                     'Zane',
                     'Caleb']}
{'course': 'CS 102',
 'department': 'Computer Science',
 'enrollments': 28,
 'students_joined': ['Bob',
                     'Fiona',
                     'Kevin',
                     'Quinn',
                     'Sam',
                     'Wendy',
                     'Bella',
                     'Ella']}
{'course': 'Physics 202',
 'department': 'Physics',
 'enrollments': 20,
 'students_joined': ['Daisy',
                     'Hannah',
                     'Liam',
                     'Oscar',
                     'Tina',
                     'Yara',
                     'Darren']}
{'course': 'Math 102',
 'department': 'Mathematics',
 'enrollments': 35,
 'students_joined': []}
{'course': 'CS 105',
 'department': 'Computer Science',
 'enrollments': 20,
 'students_joined': []}
{'course': 'History 207',
 'department': 'History',
 'enrollments': 25,
 'students_joined': []}
{'course': 'History 201',
 'department': 'History',
 'enrollments': 20,
 'students_joined': ['Charlie', 'Ivy', 'Maya', 'Uma', 'Xavier']}

In [18]:
# tambahkan department 'Engineering Physics'

courses_data = {
    'course': 'Engineering Physics 101',
    'enrollments': 20,
    'department': 'Engineering Physics'
}

courses_collection.insert_one(courses_data)

InsertOneResult(ObjectId('6913588db7ad118bfb758d22'), acknowledged=True)

In [19]:
# tampilkan data-nya dulu
for result in courses_collection.find():
    print(result)

{'_id': ObjectId('690c1b9254578d67853a7eea'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c1b9254578d67853a7eeb'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('690c1ccc54578d67853a7eee'), 'course': 'Math 102', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('690c1ccc54578d67853a7eef'), 'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('690c1ccc54578d67853a7ef0'), 'course': 'History 207', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('690c1f8f54578d67853a7ef4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('6913588db7ad118bfb758d22'), 'course': 'Engineering Physics 101', 'enrollments': 20, 'department': 'Engineering Physics'}

In [22]:
# percobaan

# find 'Physics'
for course in courses_collection.find({"department": {"$in": ["Physics"]}}):
    print(course)

{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}

In [24]:
# percobaan

# find 'Physics' tapi biar bisa tampil keduanya
for course in courses_collection.find({"department": {"$regex": "Physics"}}):
    print(course)

{'_id': ObjectId('690c1b9254578d67853a7eed'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('6913588db7ad118bfb758d22'), 'course': 'Engineering Physics 101', 'enrollments': 20, 'department': 'Engineering Physics'}