In [1]:
# TUGAS 1

from pymongo import MongoClient

# Hubungkan ke MongoDB lokal
client = MongoClient("mongodb://localhost:27017/")

# Pilih database dan koleksi
db = client["company_db"]
collection = db["employees"]

print("connected to MongoDB")

connected to MongoDB

In [8]:
# TUGAS 2: Insert beberapa data tambahan, lakukan update, serta delete data

# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [10]:
# tugas 2
# Insert beberapa data tambahan
employees = [
    {'name': 'Bob', 'department': 'Finance', 'age': 35, 'salary': 5200},
    {'name': 'Charlie', 'department': 'IT', 'age': 27, 'salary': 6000},
    {'name': 'Daisy', 'department': 'IT', 'age': 23, 'salary': 4800},
    {'name': 'Eve', 'department': 'HR', 'age': 31, 'salary': 5100},
    {'name': 'Frank', 'department': 'HR', 'age': 26, 'salary': 4700},
]
collection.insert_many(employees)
print("Data tambahan berhasil dimasukkan.")

# Contoh Query Data
for employee in collection.find():
    print(employee)

Data tambahan berhasil dimasukkan.
{'_id': ObjectId('6906bb0163e3964135f6d100'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906bb1c63e3964135f6d101'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906bfae63e3964135f6d102'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906bfae63e3964135f6d103'), 'name': 'Bob', 'department': 'Finance', 'age': 35, 'salary': 5200}
{'_id': ObjectId('6906bfae63e3964135f6d104'), 'name': 'Charlie', 'department': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('6906bfae63e3964135f6d105'), 'name': 'Daisy', 'department': 'IT', 'age': 23, 'salary': 4800}
{'_id': ObjectId('6906bfae63e3964135f6d106'), 'name': 'Eve', 'department': 'HR', 'age': 31, 'salary': 5100}
{'_id': ObjectId('6906bfae63e3964135f6d107'), 'name': 'Frank', 'department': 'HR', 'age': 26, 'salary': 4700}
{'_id': ObjectId('6906c03363e3964135f6d108'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c03b63e3964135f6d109'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c05c63e3964135f6d10a'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c08863e3964135f6d10b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c09063e3964135f6d10c'), 'name': 'Bob', 'department': 'Finance', 'age': 35, 'salary': 5200}
{'_id': ObjectId('6906c09063e3964135f6d10d'), 'name': 'Charlie', 'department': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('6906c09063e3964135f6d10e'), 'name': 'Daisy', 'department': 'IT', 'age': 23, 'salary': 4800}
{'_id': ObjectId('6906c09063e3964135f6d10f'), 'name': 'Eve', 'department': 'HR', 'age': 31, 'salary': 5100}
{'_id': ObjectId('6906c09063e3964135f6d110'), 'name': 'Frank', 'department': 'HR', 'age': 26, 'salary': 4700}
{'_id': ObjectId('6906c0a363e3964135f6d111'), 'name': 'Bob', 'department': 'Finance', 'age': 35, 'salary': 5200}
{'_id': ObjectId('6906c0a363e3964135f6d112'), 'name': 'Charlie', 'department': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('6906c0a363e3964135f6d113'), 'name': 'Daisy', 'department': 'IT', 'age': 23, 'salary': 4800}
{'_id': ObjectId('6906c0a363e3964135f6d114'), 'name': 'Eve', 'department': 'HR', 'age': 31, 'salary': 5100}
{'_id': ObjectId('6906c0a363e3964135f6d115'), 'name': 'Frank', 'department': 'HR', 'age': 26, 'salary': 4700}

In [11]:
# tugas 2

# Update gaji karyawan bernama Daisy
collection.update_one(
    {'name': 'Daisy'}, 
    {'$set': {'salary': 5500}}
)
print("✅ Data Daisy berhasil diperbarui.")
print("Hasil update:")
print(collection.find_one({'name': 'Daisy'}, {'_id': 0, 'name': 1, 'salary': 1}))

✅ Data Daisy berhasil diperbarui.
Hasil update:
{'name': 'Daisy', 'salary': 5500}

In [15]:
# Hapus data karyawan bernama Frank
deleted = collection.delete_one({'name': 'Frank'})
if deleted.deleted_count > 0:
    print("Data Frank berhasil dihapus.")
else:
    print("Data Frank tidak ditemukan.")

# Tampilkan data sisa di departemen HR
print("Data HR setelah penghapusan:")
for emp in collection.find({'department': 'HR'}, {'_id': 0, 'name': 1, 'salary': 1}):
    print(emp)

Data Frank tidak ditemukan.
Data HR setelah penghapusan:
{'name': 'Eve', 'salary': 5100}
{'name': 'Eve', 'salary': 5100}
{'name': 'Eve', 'salary': 5100}

In [16]:
# tugas 2

# lihat data karyawan sekarang
print("Data karyawan saat ini:")
for employee in collection.find({}, {'_id': 0, 'name': 1, 'department': 1, 'salary': 1}):
    print(employee)

Data karyawan saat ini:
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Bob', 'department': 'Finance', 'salary': 5200}
{'name': 'Charlie', 'department': 'IT', 'salary': 6000}
{'name': 'Daisy', 'department': 'IT', 'salary': 5500}
{'name': 'Eve', 'department': 'HR', 'salary': 5100}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'salary': 4500}
{'name': 'Bob', 'department': 'Finance', 'salary': 5200}
{'name': 'Charlie', 'department': 'IT', 'salary': 6000}
{'name': 'Daisy', 'department': 'IT', 'salary': 4800}
{'name': 'Eve', 'department': 'HR', 'salary': 5100}
{'name': 'Bob', 'department': 'Finance', 'salary': 5200}
{'name': 'Charlie', 'department': 'IT', 'salary': 6000}
{'name': 'Daisy', 'department': 'IT', 'salary': 4800}
{'name': 'Eve', 'department': 'HR', 'salary': 5100}

In [17]:
# tugas 3

# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4710.0}
{'_id': 'IT', 'average_salary': 5516.666666666667}
{'_id': 'HR', 'average_salary': 5100.0}

In [22]:
# Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).

collection = db['products']

In [23]:
# latihan 4.1

data_products = [
    {'name': 'Laptop Slim 14"', 'category': 'Electronics', 'price': 8500000},
    {'name': 'Headphone', 'category': 'Electronics', 'price': 350000},
    {'name': 'Mouse Wireless', 'category': 'Electronics', 'price': 120000},
    {'name': 'Keyboard Mechanical', 'category': 'Electronics', 'price': 450000},
    {'name': 'Office Chair', 'category': 'Furniture', 'price': 1250000},
    {'name': 'Wooden Desk', 'category': 'Furniture', 'price': 1750000},
    {'name': 'Bookshelf', 'category': 'Furniture', 'price': 950000},
    {'name': 'Notebook A5', 'category': 'Stationery', 'price': 25000},
    {'name': 'Pen Gel', 'category': 'Stationery', 'price': 7000},
    {'name': 'Eraser', 'category': 'Stationery', 'price': 5000},
    {'name': 'Ruler 30cm', 'category': 'Stationery', 'price': 8000},
    {'name': 'Marker', 'category': 'Stationery', 'price': 12000}
]

collection.insert_many(data_products)
print("Data produk baru berhasil dimasukkan.")

Data produk baru berhasil dimasukkan.

In [24]:
for data in collection.find():
    print(data)

{'_id': ObjectId('6906cc2263e3964135f6d122'), 'name': 'Laptop Slim 14"', 'category': 'Electronics', 'price': 8500000}
{'_id': ObjectId('6906cc2263e3964135f6d123'), 'name': 'Headphone', 'category': 'Electronics', 'price': 350000}
{'_id': ObjectId('6906cc2263e3964135f6d124'), 'name': 'Mouse Wireless', 'category': 'Electronics', 'price': 120000}
{'_id': ObjectId('6906cc2263e3964135f6d125'), 'name': 'Keyboard Mechanical', 'category': 'Electronics', 'price': 450000}
{'_id': ObjectId('6906cc2263e3964135f6d126'), 'name': 'Office Chair', 'category': 'Furniture', 'price': 1250000}
{'_id': ObjectId('6906cc2263e3964135f6d127'), 'name': 'Wooden Desk', 'category': 'Furniture', 'price': 1750000}
{'_id': ObjectId('6906cc2263e3964135f6d128'), 'name': 'Bookshelf', 'category': 'Furniture', 'price': 950000}
{'_id': ObjectId('6906cc2263e3964135f6d129'), 'name': 'Notebook A5', 'category': 'Stationery', 'price': 25000}
{'_id': ObjectId('6906cc2263e3964135f6d12a'), 'name': 'Pen Gel', 'category': 'Stationery', 'price': 7000}
{'_id': ObjectId('6906cc2263e3964135f6d12b'), 'name': 'Eraser', 'category': 'Stationery', 'price': 5000}
{'_id': ObjectId('6906cc2263e3964135f6d12c'), 'name': 'Ruler 30cm', 'category': 'Stationery', 'price': 8000}
{'_id': ObjectId('6906cc2263e3964135f6d12d'), 'name': 'Marker', 'category': 'Stationery', 'price': 12000}

In [25]:
# tampilkan produk berdasarkan kategori

cat = collection.find({'category': 'Electronics'})
for data in cat:
    print(data)

{'_id': ObjectId('6906cc2263e3964135f6d122'), 'name': 'Laptop Slim 14"', 'category': 'Electronics', 'price': 8500000}
{'_id': ObjectId('6906cc2263e3964135f6d123'), 'name': 'Headphone', 'category': 'Electronics', 'price': 350000}
{'_id': ObjectId('6906cc2263e3964135f6d124'), 'name': 'Mouse Wireless', 'category': 'Electronics', 'price': 120000}
{'_id': ObjectId('6906cc2263e3964135f6d125'), 'name': 'Keyboard Mechanical', 'category': 'Electronics', 'price': 450000}

In [26]:
# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Hitung rata-rata harga
avg_price = list(collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]))[0]['average_price']
print(f"Rata-rata harga produk: {avg_price:.2f}\n")

# Tampilkan produk dengan harga di atas rata-rata
result = collection.find({'price': {'$gt': avg_price}})
print("Produk dengan harga di atas rata-rata:\n")
for data in result:
    print(data)

Rata-rata harga produk: 1118916.67

Produk dengan harga di atas rata-rata:

{'_id': ObjectId('6906cc2263e3964135f6d122'), 'name': 'Laptop Slim 14"', 'category': 'Electronics', 'price': 8500000}
{'_id': ObjectId('6906cc2263e3964135f6d126'), 'name': 'Office Chair', 'category': 'Furniture', 'price': 1250000}
{'_id': ObjectId('6906cc2263e3964135f6d127'), 'name': 'Wooden Desk', 'category': 'Furniture', 'price': 1750000}

In [27]:
# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]
result = collection.aggregate(pipeline)
print("Total produk dalam setiap kategori:\n")
for data in result:
    print(data)

Total produk dalam setiap kategori:

{'_id': 'Electronics', 'total_products': 4}
{'_id': 'Furniture', 'total_products': 3}
{'_id': 'Stationery', 'total_products': 5}

In [28]:
# masuk ke tugas akhir

collection = db["employees"]

In [30]:
# insert data tambahan

collection.insert_many([
    {"name": "Chika", "age": 27, "department": "HR", "salary": 7500},
    {"name": "Rafi", "age": 24, "department": "IT", "salary": 10000},
    {"name": "Nina", "age": 31, "department": "Finance", "salary": 9500},
    {"name": "Bima", "age": 29, "department": "IT", "salary": 8700},
    {"name": "Laras", "age": 26, "department": "IT", "salary": 6800},
    {"name": "Tono", "age": 33, "department": "Finance", "salary": 10200},
    {"name": "Rina", "age": 22, "department": "HR", "salary": 5600},
    {"name": "Bayu", "age": 25, "department": "IT", "salary": 7200},
    {"name": "Santi", "age": 28, "department": "IT", "salary": 9100},
    {"name": "Surya", "age": 27, "department": "Finance", "salary": 7500},
    {"name": "Caca", "age": 24, "department": "HR", "salary": 10000},
    {"name": "Laila", "age": 31, "department": "HR", "salary": 9500},
    {"name": "Dika", "age": 29, "department": "HR", "salary": 8700},
    {"name": "Dian", "age": 30, "department": "Finance", "salary": 9900}
])
print("Data baru berhasil ditambahkan ke koleksi employees.\n")

Data baru berhasil ditambahkan ke koleksi employees.

In [47]:
for emp in collection.find({}, {'_id': 0, 'name': 1, 'age': 1, 'department': 1, 'salary': 1}):
    print(emp)

{'name': 'Alice', 'age': 23, 'department': 'Finance', 'salary': 4500}
{'name': 'Bob', 'age': 31, 'department': 'Finance', 'salary': 5200}
{'name': 'Charlie', 'age': 28, 'department': 'IT', 'salary': 6000}
{'name': 'Daisy', 'age': 24, 'department': 'IT', 'salary': 5500}
{'name': 'Eve', 'age': 30, 'department': 'HR', 'salary': 5100}
{'name': 'Chika', 'age': 33, 'department': 'HR', 'salary': 7500}
{'name': 'Rafi', 'age': 35, 'department': 'IT', 'salary': 10000}
{'name': 'Nina', 'age': 29, 'department': 'Finance', 'salary': 9500}
{'name': 'Bima', 'age': 26, 'department': 'IT', 'salary': 8700}
{'name': 'Laras', 'age': 25, 'department': 'IT', 'salary': 6800}
{'name': 'Tono', 'age': 36, 'department': 'Finance', 'salary': 10200}
{'name': 'Rina', 'age': 27, 'department': 'HR', 'salary': 5600}
{'name': 'Bayu', 'age': 30, 'department': 'IT', 'salary': 7200}
{'name': 'Santi', 'age': 32, 'department': 'IT', 'salary': 9100}
{'name': 'Surya', 'age': 34, 'department': 'Finance', 'salary': 7500}
{'name': 'Caca', 'age': 40, 'department': 'HR', 'salary': 10000}
{'name': 'Laila', 'age': 29, 'department': 'HR', 'salary': 9500}
{'name': 'Dika', 'age': 22, 'department': 'HR', 'salary': 8700}
{'name': 'Dian', 'age': 24, 'department': 'Finance', 'salary': 9900}
{'name': 'Andi', 'age': 21, 'department': 'IT', 'salary': 5300}

In [39]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

print("5 Karyawan dengan Gaji Tertinggi per Departemen:")

pipeline_1 = [
    {"$sort": {"department": 1, "salary": -1}},
    {"$group": {
        "_id": "$department",
        "top_employees": {"$push": {"name": "$name", "salary": "$salary"}}
    }},
    {"$project": {
        "top_5": {"$slice": ["$top_employees", 5]}
    }}
]

for doc in collection.aggregate(pipeline_1):
    print(f"\nDepartemen: {doc['_id']}")
    for emp in doc['top_5']:
        print(f" Name: {emp['name']:10} | Salary: {emp['salary']:,}")
print()

5 Karyawan dengan Gaji Tertinggi per Departemen:

Departemen: HR
 Name: Caca       | Salary: 10,000
 Name: Laila      | Salary: 9,500
 Name: Dika       | Salary: 8,700
 Name: Chika      | Salary: 7,500
 Name: Rina       | Salary: 5,600

Departemen: Finance
 Name: Tono       | Salary: 10,200
 Name: Dian       | Salary: 9,900
 Name: Nina       | Salary: 9,500
 Name: Surya      | Salary: 7,500
 Name: Bob        | Salary: 5,200

Departemen: IT
 Name: Rafi       | Salary: 10,000
 Name: Santi      | Salary: 9,100
 Name: Bima       | Salary: 8,700
 Name: Bayu       | Salary: 7,200
 Name: Laras      | Salary: 6,800

In [49]:
# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

print("=== Menghapus Karyawan Berusia di Bawah 25 Tahun ===")
deleted = collection.delete_many({"age": {"$lt": 25}})
print(f"Jumlah data yang dihapus: {deleted.deleted_count}\n")

=== Menghapus Karyawan Berusia di Bawah 25 Tahun ===
Jumlah data yang dihapus: 5

In [52]:
# Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

print("Total Gaji dan Rata-rata Umur per Departemen\n")

pipeline_3 = [
    {"$group": {
        "_id": "$department",
        "total_salary": {"$sum": "$salary"},
        "average_age": {"$avg": "$age"}
    }}
]

for doc in collection.aggregate(pipeline_3):
    print(f"Departemen: {doc['_id']}")
    print(f"Total Gaji   : Rp{doc['total_salary']:,}")
    print(f"Rata-rata Umur: {doc['average_age']:.1f} tahun\n")

Total Gaji dan Rata-rata Umur per Departemen

Departemen: IT
Total Gaji   : Rp47,800
Rata-rata Umur: 29.3 tahun

Departemen: Finance
Total Gaji   : Rp32,400
Rata-rata Umur: 32.5 tahun

Departemen: HR
Total Gaji   : Rp37,700
Rata-rata Umur: 31.8 tahun